In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [12]:
# Add in previous 10 min to pandas above here
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456
2013-01-02  1.279374  1.625885 -2.762839 -0.217927
2013-01-03  0.166750  1.146947  1.815725 -1.685347
2013-01-04  1.576008 -0.087365 -0.897721 -1.128625
2013-01-05  0.425840  0.679730 -1.235843 -1.292090
2013-01-06  0.479409  0.882354  1.348116  0.463950

## Missing Data

In [3]:
# Pandas uses np.nan to represent missing data.  By default it is excluded from computations

In [25]:
# Re-indexing changes/adds/deletes the index on a specified axis, returning a copy
# of the data
# So this just lets you say "these are my indices, columns, 
# preserve what matches and make what doesn't...?
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
print(df1)

df2a = pd.DataFrame(np.random.randn(6,4),index=list("abcdef"),columns=list('ABCD'))
print(df2a)

df2b = df2a.reindex(index=['a','c','x','y'], columns=list(df2a.columns) + ["More"])
print(df2b)

                   A         B         C         D   E
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456 NaN
2013-01-02  1.279374  1.625885 -2.762839 -0.217927 NaN
2013-01-03  0.166750  1.146947  1.815725 -1.685347 NaN
2013-01-04  1.576008 -0.087365 -0.897721 -1.128625 NaN
          A         B         C         D
a  0.071526  1.146574  0.749510 -0.210909
b -0.853985  0.775651  1.104279 -0.262831
c  0.445351 -1.260277 -0.441421 -0.431293
d  0.100737 -0.511751 -0.182030  0.219122
e -0.422145  1.068714 -0.481592  0.462071
f -0.072847 -0.579686  0.246952  0.367704
          A         B         C         D  More
a  0.071526  1.146574  0.749510 -0.210909   NaN
c  0.445351 -1.260277 -0.441421 -0.431293   NaN
x       NaN       NaN       NaN       NaN   NaN
y       NaN       NaN       NaN       NaN   NaN

In [28]:
# Drop rows that have missing data
df1.loc[dates[0]:dates[1],'E'] = 1

df1.dropna(how="any")

                   A         B         C         D  E
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456  1
2013-01-02  1.279374  1.625885 -2.762839 -0.217927  1

In [29]:
# Note that this doesn't change df1, it just returns a copy that is printed
print(df1)

                   A         B         C         D   E
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456   1
2013-01-02  1.279374  1.625885 -2.762839 -0.217927   1
2013-01-03  0.166750  1.146947  1.815725 -1.685347 NaN
2013-01-04  1.576008 -0.087365 -0.897721 -1.128625 NaN

In [30]:
# Or fill missing data with a value
df1.fillna(value=5)

# This can be fancier and fill based on a function or list of values

                   A         B         C         D  E
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456  1
2013-01-02  1.279374  1.625885 -2.762839 -0.217927  1
2013-01-03  0.166750  1.146947  1.815725 -1.685347  5
2013-01-04  1.576008 -0.087365 -0.897721 -1.128625  5

In [32]:
# Get the boolean mask where values are nan
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True

## Operations

In [33]:
# In general, operations exclude missing data
df.mean()

A    0.601869
B    1.048159
C   -0.545611
D   -0.695749
dtype: float64

In [35]:
# Or on the other axis
df.mean(1)

2013-01-01   -0.032581
2013-01-02   -0.018877
2013-01-03    0.361019
2013-01-04   -0.134426
2013-01-05   -0.355591
2013-01-06    0.793457
Freq: D, dtype: float64

In [44]:
# Create a series, then shift it by 2 which moves it down 2 and adds NaN at the top
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
print(s)

2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64

In [47]:
# .sub is SUBTRACTION.  So this subtracts the above data series and broadcasts
# it in the columns direction to subtract from all columns

print(df.sub(s,axis='index'))

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -0.833250  0.146947  0.815725 -2.685347
2013-01-04 -1.423992 -3.087365 -3.897721 -4.128625
2013-01-05 -4.574160 -4.320270 -6.235843 -6.292090
2013-01-06       NaN       NaN       NaN       NaN

In [50]:
# Apply does functions on the data
print(df.apply(np.cumsum))

# By default, each column is passed to the function.  You can use axis to change that
print(df.apply(np.cumsum,axis=1))

                   A         B         C         D
2013-01-01 -0.316165  2.041404 -1.541106 -0.314456
2013-01-02  0.963209  3.667289 -4.303945 -0.532383
2013-01-03  1.129959  4.814236 -2.488219 -2.217730
2013-01-04  2.705967  4.726871 -3.385941 -3.346354
2013-01-05  3.131807  5.406601 -4.621784 -4.638445
2013-01-06  3.611216  6.288955 -3.273667 -4.174495
                   A         B         C         D
2013-01-01 -0.316165  1.725239  0.184133 -0.130323
2013-01-02  1.279374  2.905259  0.142420 -0.075507
2013-01-03  0.166750  1.313697  3.129422  1.444075
2013-01-04  1.576008  1.488644  0.590922 -0.537702
2013-01-05  0.425840  1.105570 -0.130273 -1.422363
2013-01-06  0.479409  1.361763  2.709880  3.173830

In [51]:
# Or apply with a custom function
print(df.apply(lambda x: max(x) - min(x)))

A    1.892173
B    2.128768
C    4.578564
D    2.149297
dtype: float64

## Histogramming

In [63]:
# Make a series of data.  It will be 50 random integers greater than or equal
# to 0 and LESS than 7
s = pd.Series(np.random.randint(0,7,size=50))

# Count how many of each
print(s.value_counts())

# Make a histogram plot
s.hist(bins=7)
plt.show()

2    10
5     9
0     9
6     7
4     7
3     5
1     3
dtype: int64

In [66]:
# String methods
# series.str attribute has many string processing methods, such as
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## Merge

In [68]:
# series, dataframes, and panel objects can be merged in various ways.  

# Concatenation:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -1.106120 -0.573603  1.301528 -1.733162
1 -1.585464  0.920605 -0.525062 -1.821333
2  0.254880 -0.489982  0.693557  0.983896
3  0.037903 -0.171477  0.355337 -0.468355
4  1.288597  0.577573  0.948765 -1.697924
5 -0.347880  0.880606  0.922241  0.695460
6 -0.662972  1.192452  0.624194 -0.438886
7 -0.431332 -0.406365  0.212968  1.309688
8  1.837942 -0.237424 -1.992911  1.848963
9  0.876766  1.063090 -0.997695 -1.650354

In [73]:
# Split it up to be stiched later
pieces = [df.iloc[:3], df.iloc[3:7], df.iloc[7:]]
print(pieces)
print(pd.concat(pieces))

[          0         1         2         3
0 -1.106120 -0.573603  1.301528 -1.733162
1 -1.585464  0.920605 -0.525062 -1.821333
2  0.254880 -0.489982  0.693557  0.983896,           0         1         2         3
3  0.037903 -0.171477  0.355337 -0.468355
4  1.288597  0.577573  0.948765 -1.697924
5 -0.347880  0.880606  0.922241  0.695460
6 -0.662972  1.192452  0.624194 -0.438886,           0         1         2         3
7 -0.431332 -0.406365  0.212968  1.309688
8  1.837942 -0.237424 -1.992911  1.848963
9  0.876766  1.063090 -0.997695 -1.650354]
          0         1         2         3
0 -1.106120 -0.573603  1.301528 -1.733162
1 -1.585464  0.920605 -0.525062 -1.821333
2  0.254880 -0.489982  0.693557  0.983896
3  0.037903 -0.171477  0.355337 -0.468355
4  1.288597  0.577573  0.948765 -1.697924
5 -0.347880  0.880606  0.922241  0.695460
6 -0.662972  1.192452  0.624194 -0.438886
7 -0.431332 -0.406365  0.212968  1.309688
8  1.837942 -0.237424 -1.992911  1.848963
9  0.876766  1.063090 -0.997695 -1.650354

In [84]:
# You can append things to a df as well
df = pd.DataFrame(np.random.randn(8,4), columns=list("ABCD"))
df2 = pd.DataFrame(columns=list("ABCD"))
df2.loc[8] = [1,2,3,4]
df3 = pd.DataFrame(columns=list("ABCD"))
df3.loc[2] = [1,2,3,4]

In [81]:
print(df)
print(df2)

          A         B         C         D
0 -0.704960 -0.498952  1.202328 -0.924084
1 -0.292311 -0.341438  1.526790 -0.500977
2 -0.381087  0.190235  0.390492 -0.953898
3  0.091608 -0.664535  0.464925 -0.113181
4 -0.598468 -0.256839 -0.704788  0.265209
5 -0.941051  0.657276  1.038828 -0.869920
6  0.958211  0.687756 -1.226416 -0.657060
7  1.524038 -0.459871 -0.582324 -0.573476
   A  B  C  D
8  1  2  3  4

In [87]:
print(df.append(df2))
print(df.append(df3))

          A         B         C         D
0 -0.077754 -0.185539  0.864027 -0.389795
1 -1.543705 -0.026138 -0.955664  0.701571
2 -0.867363  0.659645  0.711319  0.673688
3 -0.088376 -0.323125 -0.876222 -0.491325
4  0.227271 -2.707598  0.188739  0.027658
5 -0.176127 -1.236249 -0.770894  0.759116
6  1.254437 -0.742588  1.730619  1.030161
7 -1.953758  0.565598  0.916735 -0.673808
8  1.000000  2.000000  3.000000  4.000000
          A         B         C         D
0 -0.077754 -0.185539  0.864027 -0.389795
1 -1.543705 -0.026138 -0.955664  0.701571
2 -0.867363  0.659645  0.711319  0.673688
3 -0.088376 -0.323125 -0.876222 -0.491325
4  0.227271 -2.707598  0.188739  0.027658
5 -0.176127 -1.236249 -0.770894  0.759116
6  1.254437 -0.742588  1.730619  1.030161
7 -1.953758  0.565598  0.916735 -0.673808
2  1.000000  2.000000  3.000000  4.000000

In [88]:
# Or append but ignore the row index (ot automatically generates it somehow)
df.append(df3,ignore_index=True)

          A         B         C         D
0 -0.077754 -0.185539  0.864027 -0.389795
1 -1.543705 -0.026138 -0.955664  0.701571
2 -0.867363  0.659645  0.711319  0.673688
3 -0.088376 -0.323125 -0.876222 -0.491325
4  0.227271 -2.707598  0.188739  0.027658
5 -0.176127 -1.236249 -0.770894  0.759116
6  1.254437 -0.742588  1.730619  1.030161
7 -1.953758  0.565598  0.916735 -0.673808
8  1.000000  2.000000  3.000000  4.000000

## Grouping

In [91]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.103344  0.521984
1  bar    one -0.760105 -0.016882
2  foo    two  0.565836 -2.333418
3  bar  three  0.147169  0.229366
4  foo    two  0.816052 -0.618458
5  bar    two -0.235383 -0.337195
6  foo    one  0.063023  0.082216
7  foo  three -0.526427  1.966493

In [94]:
# groupby groups by columns and returns a groupby object
print(df.groupby('A'))

# This has other methods that are useful
print(df.groupby('A').sum())

# Grouping by more than one column forms a hierarchical index
print(df.groupby(['A', 'B']).sum())

<pandas.core.groupby.DataFrameGroupBy object at 0x000001F8B7C10C88>
            C         D
A
bar -0.848319 -0.124712
foo -0.184861 -0.381184
                  C         D
A   B
bar one   -0.760105 -0.016882
    three  0.147169  0.229366
    two   -0.235383 -0.337195
foo one   -1.040322  0.604200
    three -0.526427  1.966493
    two    1.381888 -2.951876